BasedOnStyle: Google
ColumnLimit: 100
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Allman
SpaceBeforeParens: Never

SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock

AllowShortIfStatementsOnASingleLine: Never
BinPackParameters: false
SpaceAfterTemplateKeyword: false
CompactNamespaces: true
SortIncludes: Never